name: Build image

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  REGISTRY: ghcr.io # Only used for labeling, if you want to push it make sure you have permissions to push.
  IMAGE_NAME: kbluescode/dumbkv

jobs:
  build-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    # https://github.com/marketplace/actions/build-and-push-docker-images
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: ${{ env.IMAGE_NAME }}
